/* start global rule */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

:root {
    --main-color: #afafaf;
    --sec-color: #afafaf;
    --p-color: #efefef;
    --talk-color: #fa66b2;
    --tal-color: #726ae3;
    --tal-colo: #f28a55;
    --colo: #777;
}

/*end global rule */

/* start info */
.info {
    display: flex;
    background-color: var(--p-color);
    height: 62px;
}

.info p {
    color: var(--sec-color);
    display: inline-block;
}

.info a {
    color: var(--sec-color);
    display: inline-block;
    padding: 7px;
}

.info .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.info .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.info .right {
    display: flex;
    justify-content: center;
    align-content: center;
}

.info .right a {
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    color: white;
    border-radius: 50%;
    font-size: 20px;
    padding: 9px;
}

@media (max-width: 767px) {
    .info .container {
        gap: 23px;
    }

    .info .icon.two {
        display: none;
    }

    .info .right a {
        font-size: 15px;
        width: 23px;
        height: 23px;
        padding: 3px;
        margin-right: 4px;
    }

    .info .left p {
        font-size: 14px;
    }
}

/* end info */

/* start header */
header {
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

header .container {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    letter-spacing: 0.8px;
}

.logo p,
.logo span {
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
}
span{
    display: inline-block;
    font-weight: bold;
    color: var(--tal-color);
}

.logo p {
    color: var(--talk-color);
    margin-right: -5px;
}

.logo>span {
    color: var(--tal-color);
}

.logo span:last-child {
    color: var(--tal-colo);
}

nav {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
}

ul {
    z-index: 3;
}

ul li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 767px) {
    .bar {
        display: none;
    }
}

@media (max-width: 767px) {
    ul {
        display: none;
    }

    header nav .bar:hover+ul {
        display: flex;
        flex: 1;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f7f7f7;
    }

    header nav .bar:hover+ul li a {
        padding: 15px;
    }
}

header ul li a {
    font-size: 15px;
    letter-spacing: 1px;
}

header ul li .active {
    color: var(--sec-color);
    padding: 39px 5px;
}

a {
    display: block;
    color: #2a2a2a;
    text-decoration: none;
    transition: 0.6s;
}

header ul li a:hover {
    color: var(--sec-color);
    border-bottom: 1px solid var(--sec-color);
    padding: 25px 5px;
}

.quote {
    margin-left: 25px;
    position: relative;
    border: 1px solid var(--talk-color);
    height: 35px;
    width: 110px;
    border-radius: 30px;
    text-align: center;
}

.quote p {
    font-weight: bold;
    position: absolute;
    color: var(--talk-color);
    margin-left: 10px;
    top: 50%;
    transform: translatey(-50%);
}

@media (max-width: 767px) {
    header .quote {
        display: none;
    }
}

/* end header */
/* strat landing */
.landing {
    background-image: url(imgs/slider-right-dec.jpg);
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.landing .container {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.landing .data h3 {
    color: var(--talk-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.landing .data h1 {
    margin-bottom: 15px;
    font-size: 42px;
}

.landing .data pre {
    color: var(--colo);
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 14px;
}

.landing .quote {
    margin: 0;
}

.landing .pic img {
    height: 350px;
}

@media (max-width: 767px) {
    .landing .data {
        text-align: center;
    }

    .landing .container {
        flex-direction: column;
    }

    .landing .pic img {
        margin-top: 13px;
        height: 200px;
    }

    .landing .data h1 {
        font-size: 30px;
    }

    .landing .data pre {
        color: var(--colo);
        margin-bottom: 20px;
        line-height: 35px;
        font-size: 12px;
        margin-bottom: 12px;
    }

    .landing .quote {
        margin: 0 auto;
    }
}

/* end landing */
/* start about */
.about {
    padding-top: 50px;
}

.about .container {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about .container img {
    height: 400px;
}

.about .container .data h2 {
    font-size: 40px;
    position: relative;
    margin-bottom: 40px;
}

.about .container .data h2::after {
    position: absolute;
    content: "About Us";
    color: var(--tal-color);
    top: -34px;
    left: 0;
    font-size: 16px;
}

.about .container .data h2::before {
    position: absolute;
    content: "";
    background-color: var(--tal-color);
    width: 35px;
    height: 2px;
    bottom: -15px;
}

.about .container .data span {
    color: var(--tal-color);
    font-size: 40px;
}

.about .container .data pre {
    line-height: 30px;
    color: var(--colo);
}

.about .container .data pre span {
    font-size: 15px;
}

.about .container .data .progress {
    display: flex;
    gap: 15px;
    margin-left: -10px;
}
.about .container .data .progress h3{
font-weight: bold;
margin-bottom: 7px;
    font-size: 25px;
}
.about .container .data .progress p{
color: var(--colo);
}
.about .container .data .progress .one,
.data .progress .two,
.data .progress .three {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.about .container .data .progress .one {
    border: 3px solid #f161ab;
    clip-path: inset(14% 0 0 0);
}

.about .container .data .progress .two {
    border: 3px solid #726ae3;
    clip-path: inset(25% 0 0 0);
}

.about .container .data .progress .three {
    clip-path: inset(0 0 0 10%);
    border: 3px solid #f58b56;
}

@media (max-width: 767px) {
    .about .container {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .about .container img {
        height: 250px;
        margin: 0 auto 50px;
    }

    .about .container .data h2 {
        font-size: 30px;
    }

    .about .container .data h2>span {
        font-size: 30px;
    }

    .about .container .data h2::after {
        font-size: 14px;
    }

    .about .container .data pre,
    .about .container .data pre span {
        font-size: 13px;
    }

    .about .container .data .progress {
        justify-content: space-between;
    }

    .about .container .data .progress .one,
    .data .progress .two,
    .data .progress .three {
        width: 100px;
        height: 100px;
    }
}

/* end about */
/* start services */
.services{
padding-top: 90px;
background-image: url(imgs/services-left-dec.jpg);
background-size: cover;
}
.services .container{
display: flex;
flex-direction: column;
align-items: center;

}
.services .title{
    margin-bottom: 25px;
}
.services .title h2{
    position: relative;
width: fit-content;
}
.services .title h2::after{
    position: absolute;
    content: "Our Services";
    color: var(--tal-color);
    top: -50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}
.services .title h2::before{
    position: absolute;
    content: "";
    background-color: var(--tal-color);
    width: 35px;
    height: 2px;
    bottom: -40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.services .container .icons{
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 30px;
margin-bottom: 20px;
}
.services .container .icons .icon{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}
.services .container .icons .icon h3{
font-size: 20px;
}
.services .card{
display:flex;
justify-content:center;
align-content:center;
align-items: center;
padding: 80px;
gap: 30px;
box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.services .card h3{
color: var(--talk-color);
margin-bottom: 18px;
}
.services .card pre{
color: var(--colo);
line-height: 25px;
margin-bottom: 10px;
}
.services .card .true{
margin-bottom: 17px;
}
.services .card .true p{
margin-bottom: 4px;
}
@media(max-width:991px){
    .services .card{
padding: 30px;
flex-direction: column;
}
.services .card img{
height: 180px;
}
.services .container .icons{
gap: 15px;
}
}
/* end services */

/* start free-quote  */
.free-quote{
    background-image: url(imgs/quote-bg.jpg);
    margin-top: 50px;
    padding-top: 70px;

}
.free-quote .container{
    display:flex;
    justify-content:center;
    align-content:center;
    align-items: center;
    text-align: center;
    flex-direction:column ;
    gap: 50px;
}
.free-quote .title h3 {
    font-size: 30px;
    position: relative;
    /* margin-bottom: 10px; */
    color: #f7f7f7;
}

.free-quote h3::after {
    position: absolute;
    content: "Get Your Free Quote";
    color: #f7f7f7;
    font-weight: bold;
    top: -65%;
    left: 50%;
    transform: translate(-50%, -50%);;
    font-size: 16px;
}

.free-quote h3::before {
    position: absolute;
    content: "";
    background-color: #f7f7f7;
    width: 35px;
    height: 2px;
    bottom: -40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.free-quote .box{
height: 90px;
width: 60%;
background-color: #f7f7f7;
border-radius: 50px;
display:flex;
justify-content:center;
align-content:center;
align-items: center;
gap: 100px;
margin-bottom: 20px;
}
.free-quote .box .one, .free-quote .box .two{
position: relative;
border-bottom:1px solid #77777738;
}
.free-quote .box .one a{
width: 120px;
}
.free-quote .box .two{
left: 70px;
}
.free-quote .box .special{
background-color: var(--tal-color);
position: relative;
width: calc(100%/3);
    height: 90px;
    text-align: center;
    border-radius:0 50px 50px 0;
    left: 130px;
}
.free-quote .box .special a{
color: #f7f7f7;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.free-quote .box a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media (max-width: 768px) {
    
    .free-quote .box {
        flex-direction: column;
        height: auto;
        width: 90%;
        gap: 15px;
    }
    .free-quote .box > div {
        width: 100%;
        height: 70px;
    }
    .free-quote .box .special {
        border-radius: 50px;
        width: 100%;
        left: 0;
    }
}
/* end free-quote  */
/* strat protofolio */
.projects{
margin-top: 50px;
padding-top: 40px;
background-image: url("imgs/portfolio-left-dec.jpg");
background-size: contain;
margin-bottom: 40px;
}
.title{
    margin-bottom: 25px;
}
.title h3{
    position: relative;
width: fit-content;
font-size: 30px;
}
.projects .title h3::after{
    position: absolute;
    content: "Our Protofolio";
    color:var(--tal-color);
    bottom:  95%;
    left: 62px;
    transform: translate(-50%, -50%);
    font-size: 16px;
    width: 123px;
}
.projects .title h3::before{
    position: absolute;
    content: "";
    background-color: var(--tal-color);
    width: 35px;
    height: 2px;
    bottom: -40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.projects .container .cards{
    margin-top: 80px;
display:flex;
justify-content:center;
align-content:center;
align-items: center;
flex-wrap: wrap;
gap: 50px;
}
.projects .container .card{
text-align: center;
box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.projects .container .card img{
margin-bottom: 10px;
}
.projects .container .card h4{
font-size: 20px;
margin-bottom: 10px;
}
.projects .container .card p{
color: var(--colo);
padding: 10px;
}
@media (max-width:767px){
    .projects .container .cards{
    flex-direction: column;
    }
    .projects .container{
    display:flex;
    justify-content:center;
    align-content:center;
    align-items: center;
    flex-direction: column;
    }
}
/* end protofolio */

/* start blog  */
.blog{
margin-top: 50px;
padding-top: 40px;
}
.blog .container{
display:flex;
justify-content:center;
align-content:center;
align-items: center;
flex-direction: column;
}
.blog .title h3::after{
    position: absolute;
    content: "Recent News";
    color: var(--tal-color);
    bottom:  100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    width: 123px;
}
.blog .title h3::before{
    position: absolute;
    content: "";
    background-color: var(--tal-color);
    width: 35px;
    height: 2px;
    bottom: -40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blog .box{
display: flex;
gap: 30px;
}
@media (max-width:991px){
    .blog .box{
    flex-direction: column;
    }
}
.blog .first{
    border-radius: 6px;
    max-width: 430px;
    max-height: 550px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.blog .first .content{
padding: 15px;
}
.blog .first .imagel{
margin-bottom: 10px;
height: 300px;
}
.blog .first .content .date {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 10px;
}
.blog  .date .p{
padding: 10px;
background-color: var(--tal-color);
color: #efefef;
border-radius: 26px;
}
.blog  .date span {
color: var(--colo);
}
.blog  .content h4{
margin-bottom: 10px;
}
.blog .first .content .text{
color: var(--colo);
margin-bottom: 10px;
}
.blog .first .content .name{
display:flex;
justify-content:space-between;
align-items: center;
}
.blog .first .content .name img{
border-radius: 50%;
margin-right: 10px;
}
.blog .first .content .name .cover{
padding: 15px;
width: 100px;
text-align: center;
border: 2px solid var(--talk-color);
color: var(--talk-color);
border-radius: 30px;
}
.blog .first .content .name .firs{
display: flex;
align-items: center;
}
.blog .box .second-1 , .blog .box .second-2 ,.blog .box .second-3{
    padding: 15px;
display: flex;
gap: 15px;
box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.blog .box .second-1 img , .blog .box .second-2 img,.blog .box .second-3 img{
height: 130px;
width: 130px;
border-radius: 6px;
}
.blog .box .second-1 .date, .blog .box .second-2 .date,.blog .box .second-3 .date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 10px;
    }
    .blog .box .second{
    display:flex;
    justify-content:center;
    align-content:center;
    flex-direction: column;
    gap: 30px;
    }
/* end blog  */
